*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'cursive';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.flex-container{
    width: 88%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 140px;
}
.flex-box{
    width: 380px;
    height: 300px;
    color: rgb(252, 251, 250);
    background: linear-gradient(rgba(89, 236, 59, 0.945), #030303);
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    line-height: 300px;
    border-radius: 2rem;
    margin: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.8);
}